<div class="container-fluid">
    <h2 class="text-center">Publish quote</h2>
    <hr>
    <form #createQuoteForm = "ngForm">
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" required class="form-control" id="author" [(ngModel)] = "createQuotes.author" name="author" name ="ngModel">
        </div>
        <div class="form-group">
            <label for="publisher">Publisher</label>
            <input type='text' class = "form-control" id="publisher" required [(ngModel)] = "createQuotes.publisher" name="publisher" #publisher="ngModel">
        </div>
        <div class="form-group">
            <label for="quote">Quote</label>
            <textarea class="form-control" id="quote" rows="4" required [(ngModel)] = "createQuotes.content" name="quote" #quote = "ngModel"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Publish</button>
    </form>
  </div>
