<div class="container">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    <ul>
        <li *ngFor = 'let quote of quotes'>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-text">Author:{{quote.author}}</h5>
                  <p class="card-text">Publisher:{{quote.publisher}}</p>
                  <p class="card-text">Publisher:{{quote.content}}</p>
                </div>
              </div>
        </li>
    </ul>
</div>


