<div class="container">
    <div class="row">
        <div class="col-md-8">
            <ul>
                <h1>Latest Quotes</h1>
                <li *ngFor = 'let quote of quotes; let i = index' quotes>
                    <div class="card" style="width: 24rem;">
                        <div class="card-body">
                          <p class="card-text"><strong>Publisher: </strong> {{quote.publisher}}</p>
                          <p class="card-text"><strong>Quote: </strong> {{quote.content}}</p>
                          <app-quote-details *ngIf='quote.showDescription' (delete)='clearQuote($event,i)' [quote]='quote'></app-quote-details><br>
                          <button (click)='toggleDetails(i)' class="btn btn-info">More details</button>
                        </div>
                      </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
    </div>
</div>


